<header class="site-header">
    <div class="container">
        <div class="row p-3">
            <div class="col">
                <div class="logo logo-med">
                    <a href="/"><img src="/assets/img/logo_white_bg.svg" alt="OneFullStack" /></a>
                </div>
                <div class="logo logo-sm">
                    <a href="/"><img src="/assets/img/logo_white_bg_small.svg" alt="OneFullStack" /></a>
                </div>
            </div>
            <div class="pr-3">
                <!--
                <nav class="full-nav">
                    <ul>
                        <li><a href="#" class="theme-toggle"><i class="fas fa-adjust"></i></a></li>
                        <li class="pl-2 pr-3"><div class="separator">&nbsp;</div></li>
                        <li><a href="#" class="subscribe-button">Subscribe</a></li> 
                    </ul>                                 
                </nav>
                -->
                <nav class="condensed-nav">
                    <a id="open-nav" href="#"><i class="fas fa-bars"></i></a>
                    <div class="dropdown p-5">
                        {% include links.html %}
                        <div id="close-nav"><a href="#"><i class="fas fa-times"></i></a></div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>