<div class="links">
    <h3>LINKS</h3>
    <ul>
        <li><a href="/about">About Me</a></li>
        <li><a href="#" class="theme-toggle" data-event-category="Theme" data-event-action="toggle" data-event-label="">Toggle Theme</a></li>
        <li><a href="/feed.xml" data-event-category="Subscribe" data-event-action="click" data-event-label="rss"><i class="fas fa-rss"></i> Subscribe by Feed</a></li>
        <li><a href="http://eepurl.com/hwNRoT" target="_blank" data-event-category="Subscribe" data-event-action="click" data-event-label="email"><i class="far fa-envelope"></i> Subscribe by Email</a></li> 
    </ul>
</div>