{% assign post = site.posts | where: "slug", include.slug | first %}
{% assign safeUrl = site.url + post.url | url_encode %}
{% assign safeTitle = post.title | url_encode %}
{% assign author = site.data.authors[post.author] %}


{% if page.url != post.url %}
<h1><a href="{{post.url}}">{{ post.title }}</a></h1>
{% else %}
<h1>{{ post.title }}</h1>
{% endif %}

{% if post.subtitle %}
<h2>{{ post.subtitle }}</h2>
{% endif %}

<div class="py-3">
    <div class="post-social">
        <ul>
            <li class="social-target"><a href="https://www.linkedin.com/shareArticle?mini=true&url={{safeUrl}}&title={{safeTitle}}"><i class="fab fa-linkedin"></i></a></li>
            <li class="social-target"><a href="https://www.facebook.com/sharer/sharer.php?u={{safeUrl}}"><i class="fab fa-facebook-square"></i></a></li>
            <li class="social-target"><a href="https://www.twitter.com/share?url={{safeUrl}}"><i class="fab fa-twitter"></i></a></li>
        </ul>
    </div>
</div>

<div class="py-3">
    <div class="post-meta">
        <div class="author-photo mr-2"><div class="photo-outer"><div class="photo-inner"><img src="{{author.picture}}" alt="{{author.name}}" /></div></div></div>
        <div class="author-deets">
            <div class="author-name">{{ author.name }}</div>
            <div class="date">{{ post.date | date: '%b %e, %Y' }}</div>
        </div>
    </div>
</div>

