{% assign safeUrl = site.url + page.url | url_encode %}
{% assign safeTitle = page.title | url_encode %}

<div class="post-social">
    <ul>
        <li class="social-target"><a href="https://www.linkedin.com/shareArticle?mini=true&url={{safeUrl}}&title={{safeTitle}}"><i class="fab fa-linkedin"></i></a></li>
        <li class="social-target"><a href="https://www.facebook.com/sharer/sharer.php?u={{safeUrl}}"><i class="fab fa-facebook-square"></i></a></li>
        <li class="social-target"><a href="https://www.twitter.com/share?url={{safeUrl}}"><i class="fab fa-twitter"></i></a></li>
    </ul>
</div>