<div id="subscribe">
    <div id="subscribe_form">
        <form action="https://onefullstack.us1.list-manage.com/subscribe/post" method="post" target="_blank">
            <input type="hidden" name="u" value="a0590b2e0a6cfe5613d2a374b">
            <input type="hidden" name="id" value="5b599bc555">
            <div class="form-logo">
                <img src="/assets/img/full_logo.svg" alt="One Full Stack" />
            </div>
            <h3>Subscribe Now!</h3>
            <div>
                <input type="email" class="form-control" name="EMAIL" id="subscribe-email" placeholder="Email Address" required />
            </div>
            <div>
                <input class="btn btn-primary" type="submit" value="Subscribe" />
            </div>
        </form>
    </div>
    <a id="subscribe_close" href="#"><i class="fas fa-times"></i></a>
</div>
<script src="/assets/js/subscribe.js?v={{ site.time | date:'%s' }}"></script>