@import 'themes';
@import 'themify';

html {
    font-size: 62.5%;
    -webkit-font-smooting: antialiased;
}

h1 {
    font-weight: 600;

    a:hover {
        text-decoration: none;
    }
}

body {  
    font-size: 1.7rem;
    color: #000;
    visibility: hidden;

    a {
        color: #000;

        &:hover {
            text-decoration: none;
        }
    }

}

@each $theme, $_ in $themes {
    body.theme-#{$theme} {
       visibility: visible !important;
       background-color: map-get(map-get($themes, $theme), 'bgColor');
       color: map-get(map-get($themes, $theme), 'color');

       a {
           color: map-get(map-get($themes, $theme), 'linkColor');
       }

       .legal {
           color: map-get(map-get($themes, $theme), 'tertiaryColor');
           font-size: 1.2rem;
       }

       #why {
            color: map-get(map-get($themes, $theme), 'tertiaryColor');
       }
    }
}

#root {
    header.site-header {
        border-bottom-style: solid;
        border-bottom-width: 1px;
       
        @include themify($themes) {
            border-bottom-color: themed('siteHeaderBorderColor');
            box-shadow: themed('siteHeaderBoxShadow');
        }

        .logo-med {
            width: 300px;
        }  

        .logo-sm {
            width: 32px;
            display: none;
        }
       
        nav.condensed-nav {
            display: none;

            .dropdown {
                display: none;
                position: fixed;
                top: 0;
                left: 0;
                height: 100vh;
                width: 100vw;
                z-index: 99;
                
                @include themify($themes) {
                    background-color: themed('bgColor');
                }
            }

            #open-nav {
                display: block;
                line-height: 32px;
            }

            #close-nav {
                position: absolute;
                top: 10px;
                left: calc(100vw - 50px);
            }

            .links {
                font-size: 1.8rem;

                li {
                    line-height: 3.2rem;
                }
            }
        }

        @include media-breakpoint-down(sm) {
            nav.full-nav {
                display: none;
            }

            nav.condensed-nav {
                display: block;
            }

            .logo {
                display: none;
            }

            .logo-sm {
                display: block;
            }
        }
    }

    #wrapper {
        .content {
            max-width: 1000px;
            margin: auto;
            display: flex;

            .content-wrap {
                flex: 1;
            }

            aside.sidebar {
                flex: 200px 0 0;
            }

            @include media-breakpoint-down(sm) {
                aside.sidebar {
                    display: none;
                }
            }
        }        
    }

    footer {
        .content {
            max-width: 1000px;
            margin: auto;
        }
    }

}

.theme-toggle i {
    display: inline-block;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
}

.links {
    font-size: 1.4rem;
    ul {
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            line-height: 2.4rem;
        }
    }
}

.btn {
    font-size: 1.2rem;
}

#why {
    font-size: 1.2rem;
    padding-block-start: 24px;
    padding-top: 24px;
    padding-right: 18px;
}