@import 'themes';
@import 'themify';

html {
    font-size: 62.5%;
    -webkit-font-smooting: antialiased;
}

h1 {
    font-weight: 600;

    a:hover {
        text-decoration: none;
    }
}

body {  
    font-size: 1.7rem;
    color: #000;
    visibility: hidden;

    a {
        color: #000;

        &:hover {
            text-decoration: none;
        }
    }

}

@each $theme, $_ in $themes {
    body.theme-#{$theme} {
       visibility: visible !important;
       background-color: map-get(map-get($themes, $theme), 'bgColor');
       color: map-get(map-get($themes, $theme), 'color');

       a {
           color: map-get(map-get($themes, $theme), 'linkColor');
       }

       .legal {
           color: map-get(map-get($themes, $theme), 'tertiaryColor');
           font-size: 1.2rem;
       }
    }
}

#root {
    header.site-header {
        border-bottom-style: solid;
        border-bottom-width: 1px;
       
        @include themify($themes) {
            border-bottom-color: themed('siteHeaderBorderColor');
            box-shadow: themed('siteHeaderBoxShadow');
        }

        .logo {
          width: 300px;
        }  

        nav {
            ul {
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    display: inline-block;
                    font-weight: 300;

                    .separator {
                        border: 0;
                        padding: 0;
                        margin: 0;
                    }
                }
            }
        }

        nav.full-nav ul li.separator {          
            @include themify($themes) {
                background: themed('siteHeaderSeparatorBg');
            }
            
            height: 100%;
            width: 1px;
        }
        
        nav.condensed-nav {
            display: none;

            i {
                font-size: 1.6rem;
                line-height: 3.4rem;
            }

            .dropdown {
                display: none;
                position: fixed;
                top: 0;
                left: 0;
                height: 100vh;
                width: 100vw;
                z-index: 99;
                
                @include themify($themes) {
                    background-color: themed('bgColor');
                }

                ul li {
                    display: block;
                    .separator {
                        background-color: #000;
                        height: 1px;
                        width: 100%;
                    }
                }
            }

            #close-nav {
                position: absolute;
                top: 10px;
                left: calc(100vw - 50px);
            }
        }

        @include media-breakpoint-down(sm) {
            nav.full-nav {
                display: none;
            }

            nav.condensed-nav {
                display: block;
            }
        }
    }

}

.theme-toggle i {
    display: inline-block;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
}
