html {
    text-size-adjust: 100%;
    -webkit-font-smooting: antialiased;
}

body {
    line-height: 160%;
}

header.site-header {
    h1 {
        padding: 0;
        margin: 0;
        font-size: 2rem;
    }

    h2 {
        font-size: 1.1rem;
    }
}

aside.sidebar {
    display: block;
}

@include media-breakpoint-down(sm) {
    aside.sidebar {
        display: none;
    }
}