@import "themes";
@import "themify";

.post {
    .post-date {
        font-weight: 200;
        font-size: 0.9rem;

        @include themify($themes) {
            color: themed('tertiaryColor');
        }
    }   
}
