$themes: (
    light: (
        bgColor: #fff,
        color: rgba(0, 0, 0, 0.9),
        secondaryColor: rgba(0,0,0, 0.8),
        tertiaryColor:  rgba(0,0,0, 0.7),
        socialIconColor: #0076D6,
        codeBorderColor: rgba(0,0,0, 0.15),
        codeBgColor: rgba(0,0,0, 0.010),
        siteHeaderBorderColor: rgba(0, 0, 0, 0.10),
        siteHeaderBoxShadow:  0 4px 12px 0 rgba(0, 0, 0, 0.05),
        siteHeaderSeparatorBg: linear-gradient(0deg, #fff, green 50%, #fff),
        linkColor: #0076D6,
        titleColor: #000,
        subTitleColor: rgba(0,0,0,0.5),
        blockquoteColor: rgba(0,0,0,0.5),
    ),
    dark: (
        bgColor: #001C33,
        color: rgba(255,255,255,0.9),
        secondaryColor:  rgba(255,255,255,0.8),
        tertiaryColor: rgba(255,255,255,0.7),
        socialIconColor: #0076D6,
        codeBorderColor: #005396,
        codeBgColor: #001C33,
        siteHeaderBorderColor: #005396,
        siteHeaderBoxShadow:  0 4px 12px 0 rgba(255, 255, 255, 0.1),
        siteHeaderSeparatorBg: linear-gradient(0deg, #fff, green 50%, #fff),
        linkColor: #fff,
        titleColor: #fff,
        subTitleColor: rgba(255,255,255,0.5),
        blockquoteColor: rgba(255,255,255,0.5),
    ),
);