$themes: (
    light: (
        bgColor: #fff,
        color: blue,
        codeBorderColor: red,
        codeBgColor: #fff,
        siteHeaderBorderColor: blue,
    ),
    dark: (
        bgColor: #000,
        color: #fff,
        codeBorderColor: green,
        codeBgColor: #000,
        siteHeaderBorderColor: blue,
    ),
);