@import url('https://fonts.googleapis.com/css?family=Encode+Sans|Encode+Sans+Semi+Expanded|Jura|Red+Hat+Text&display=swap');

body {
    font-family: Jura,'Red Had Text',"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 62.5%;
    line-height: 1.5;
    color: #24292e;
}

h1 {
    font-size: 2rem;
}